<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>table</title>
  </head>
  <body>
    <div class="">


    <table class="responsive-table">
      <caption>Avaible Buses Between {{source}} and {{destination}}</caption>
      <thead>
        <tr>
          <th scope="col">Bus ID</th>
          <th scope="col">Name</th>
          <th scope="col">dep_time</th>
          <th scope="col">ariv_time</th>
          <th scope="col">Source</th>
          <th scope="col">Destination</th>
          <th scope="col">Fare</th>
          <th scope="col">AC/Non-AC</th>
          <th scope="col">Sleeper</th>

        </tr>
      </thead>

      <tbody>
        {% if data.length === 1 %}
        {%for dat in data %}

          <tr>

        <td>{{dat.id}}</td>
        <td>{{dat.name}}</td>
        <td>{{dat.dp_time}}</td>
        <td>{{dat.ar_time}}</td>
        <td>{{dat.from}}</td>
        <td>{{dat.to}}</td>
        <td>{{dat.fare}}</td>
        <td>{{dat.type}}</td>
        <td>{{dat.Sleeper}}</td>

        </tr>
      {% endfor %}
        {% else  %}
        <tr>
    <td colspan="3">No user</td>
   </tr>
     {% endif %}
      </tbody>
    </table>
    </div>
  </body>
</html>
